@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes play120 {
  0% {
    background-position: 0px 0px;
  }
  60% {
    background-position: -51240px 0px;
  }
  100% {
    background-position: -51240px 0px;
  }
}
.loading-icon {
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: steps(120);
  width: 427px;
  height: 486px;
  background-repeat: no-repeat;
}
.loading-icon.play {
  animation-name: play120;
}
