@import './reset';
@import './variables';
@import './extend';
@import './animation.scss';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700,900');

// test
@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');
@import url('https://fonts.googleapis.com/css?family=Lobster');

html {
  width: 100%;
}

body,
.App {
  font-family: $generalFonts;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  color: #444;
  overflow-x: hidden;
  width: 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 900;
  font-size: 50px;
  color: $darkerMainColor;
  margin-top: 0;
  line-height: 1.1;
}

i {
  font-style: italic;
  filter: brightness(180%);
  color: $mainColor;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headingFonts;
}

.flex-parent-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-parent-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.all-center {
  justify-content: center;
  align-items: center;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.full-width {
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

button,
a.btn {
  -webkit-appearance: none;
  padding: 15px 20px;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  background-color: $mainColor;
  box-shadow: 0px 0px 20px 1px $mainColor;
  color: white;
  border: 0px solid;
  cursor: pointer;
  transition: ease-out 0.2s;
  &:hover {
    transform: scale(1.1);
    transition: ease-out 0.2s;
    filter: brightness(120%);
  }
  &:focus {
    outline: none;
  }
}

.loading-spinner {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.97);
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.animated {
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.success-message,
.error-message {
  position: fixed;
  bottom: 30px;
  font-size: 25px;
  line-height: 1.1;
  width: 100%;
  padding: 20px 30px;
  display: flex;
  color: white;
  background-color: $successColor;
  border-radius: 4px;
  font-weight: 900;
  box-shadow: 7px 7px rgba(0, 0, 0, 0.3);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.error-message {
  background-color: $errorColor;
}

.quote {
  font-family: $quoteFonts;
  line-height: 1.1;
}

.text-center {
  text-align: center;
}

button.secondary,
a.btn.secondary {
  background-color: $secondaryColor;
  box-shadow: 0px 0px 20px 1px $secondaryColor;
}

textarea,
input,
label {
  -webkit-appearance: none;
}

.tablet-only {
  display: none;
}

.mobile-only {
  display: none;
}

form {
  .form-group {
    width: 100%;
    margin-bottom: 18px;
    label {
      display: block;
      margin-bottom: 7px;
      font-size: 14px;
      letter-spacing: 2px;
    }
    input {
      display: block;
      width: 100%;
    }
    textarea {
      display: block;
      width: 100%;
    }
    input,
    textarea {
      padding: 10px;
      font-size: 20px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: 4px 4px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      transition: ease-in-out 0.2s;
      &:focus {
        outline: none;
        border: 1px solid $mainColor;
        transition: ease-in-out 0.2s;
      }
    }
  }
}

nav {
  position: absolute;
  z-index: 1;
  padding-left: 150px;
  padding-top: 50px;
  transition: ease-in-out 0.5s;
  width: 100%;
  ul {
    justify-content: flex-start;
    align-items: center;
    border-left: 3px solid rgba(255, 255, 255, 0.5);
    li {
      cursor: pointer;
      &.nav-logo {
        a {
          &.active {
            border-bottom: 0px solid;
          }
        }
      }
      a {
        color: #fff;
        cursor: pointer;
        text-decoration: none;
        letter-spacing: 0px;
        font-weight: 700;
        padding: 10px 25px;
        display: inline-block;
        &:hover {
          color: $secondaryColor;
        }
        &.active {
          border-bottom: 4px solid;
          transform: scale(1.05);
          filter: brightness(120%);
        }
        img {
          display: none;
          width: 50px;
        }
      }
    }
  }
}

nav.fix-nav {
  position: fixed;
  padding-top: 0;
  width: 100%;
  transition: ease-in-out 0.5s;
  padding-right: 150px;
  background-color: rgba(255, 255, 255, 0.99);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.2);
  ul {
    border-left: 0px solid rgba(255, 255, 255, 0.5);
    li {
      a {
        color: $secondaryColor;
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }
    .nav-logo {
      margin-left: auto;
      a {
        padding: 0;
        img {
          display: inline-block;
        }
      }
    }
  }
}

section.top-landing {
  height: 100vh;
  align-items: center;
  position: relative;
  .logo {
    width: 30%;
    height: 100%;
    padding: 0;
    align-items: center;
    background-color: #fbfdff;
    img {
      width: 50%;
    }
  }

  .text {
    width: 70%;
    height: 100%;
    background: #3c87f7;
    background-image: url('../images/pattern-02.svg');
    background-repeat: repeat;
    background-size: 350px 175px;
    color: white;
    line-height: 1;
    padding-left: 150px;
    h1 {
      font-family: $logoFonts;
      font-weight: 900;
      font-size: 75px;
      color: white;
      .go-blue {
        color: $darkerMainColor;
        text-decoration: underline;
        text-decoration-color: $secondaryColor;
      }
    }
  }

  .logo,
  .text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00;
  position: absolute;
}

.separator {
  position: absolute;
  height: calc(100% + 10px);
  right: 30%;
  top: -10px;
  transform: translateX(1px);
}

section.what-we-do {
  @extend %section-padding;
  background-color: $veryLightBg;
  h1 {
    margin-bottom: 10px;
    margin-top: 0;
  }
  .single-wrapper {
    margin-top: 30px;
    align-items: unset;
    box-shadow: 0 0 42px -12px rgba(0, 0, 0, 0.1);
    .single {
      background-color: #fff;
      cursor: pointer;
      width: calc(100% / 3);
      padding: 50px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      flex-direction: column;
      transition: ease-in-out 0.2s;
      img {
        width: 50%;
      }
      p {
        font-size: 18px;
        position: relative;
        font-weight: 300;
        margin-top: 35px;
        margin-bottom: 0px;
        padding-left: 20px;
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          height: 10px;
          width: 10px;
          background-color: $secondaryColor;
          border-radius: 100%;
          transform: translateY(-50%);
        }
      }
      &:nth-of-type(even) {
        border-right: 0px;
        border-left: 0px;
      }
      &:hover {
        transform: scale(1.05);
        transition: ease-in-out 0.2s;
        border: 1px solid rgba(0, 0, 0, 0.1) !important;
      }
    }
  }
}

section.portfolio-section {
  @extend %section-padding;
  padding-bottom: 0;
  .portfolios {
    margin-top: 50px;
    .portfolio {
      width: calc(100% / 4);
      cursor: pointer;
      position: relative;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        transition: ease-in-out 0.2s;
      }
      &:hover::before {
        background-color: rgba(0, 0, 0, 0);
        transition: ease-in-out 0.2s;
      }
      .portfolio-detail {
        display: none;
      }
    }
  }
}

.modal-portfolio.client {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.99);
  display: flex;
  z-index: 1;
  align-items: center;
  padding: 0 100px;
  cursor: pointer;
  .image {
    width: 50%;
    position: relative;
    padding: 50px;
    overflow: hidden;
    border-radius: 4px;
    .image-bg {
      width: 120%;
      height: 100%;
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      filter: blur(20px);
    }
    img {
      border-radius: 4px;
      box-shadow: 0px 0px 54px -8px rgba(0, 0, 0, 0.5);
    }
  }
  .details {
    width: 50%;
    padding: 0 50px;
    color: #fff;
    .name {
      font-size: 40px;
      font-weight: 300;
      margin-bottom: 20px;
      animation-delay: 0.1s;
    }
    .year {
      font-size: 30px;
      font-weight: 700;
      color: $secondaryColor;
      margin-bottom: 10px;
      animation-delay: 0.2s;
    }
    .description {
      animation-delay: 0.3s;
    }
    .technologies {
      margin-top: 20px;
      p {
        display: inline-block;
        margin: 0;
        padding: 5px 10px;
        background: $darkerMainColor;
        margin-right: 3px;
        margin-bottom: 8px;
        font-size: 14px;
        border-radius: 2px;
        box-shadow: 0px 5px #00255b;
      }
    }
  }
}

section.technology-section {
  @extend %section-padding;
  position: relative;
  // h3 {
  //   color: $secondaryColor;
  // }
  .huge-light-bg {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    left: 0;
    img {
      opacity: 0.2;
      filter: brightness(150%);
    }
  }
  .technologies {
    .technology {
      display: inline-block;
      width: calc(100% / 7);
      padding: 15px 30px;
      img {
        cursor: pointer;
        filter: grayscale(100%);
        transition: ease 0.2s;
        &:hover {
          filter: grayscale(0%);
          transition: ease 0.2s;
        }
      }
    }
  }
}

section.contact-section {
  @extend %section-padding;
  padding-top: 50px;
  .container {
    h1 {
      margin-bottom: 10px;
    }
    h3 {
      margin-top: 0;
      margin-bottom: 30px;
    }
    width: 500px;
  }
}

footer {
  padding: 0 0 80px 0;
}

@media (max-width: $containerWidth) {
  .container {
    width: calc(100% - 50px);
  }
}

@media (max-width: $tabletLandscape) {
  .loading-spinner {
    > div {
      width: 40% !important;
    }
  }
  .separator {
    transform: translateX(2px);
    right: 22%;
  }
  nav {
    padding-left: 100px;
  }
  section.top-landing {
    .text {
      padding-left: 100px;
      width: 78%;
      h1 {
        font-size: 70px;
      }
    }
    .logo {
      width: 22%;
      img {
        width: 100%;
        padding-right: 50px;
      }
    }
  }
}

@media (max-width: $tabletPortrait) {
  h2 {
    font-size: 19px;
  }

  .separator {
    display: none;
  }

  nav {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    .tablet-logo {
      display: block;
      text-align: center;
      img {
        width: 100px;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 5px 5px rgba(0, 0, 0, 0.02);
        margin-bottom: 20px;
      }
    }
    ul {
      border-left: 0px;
      align-items: center;
      justify-content: center;
      .nav-logo {
        margin-left: 0;
      }
    }
  }

  nav.fix-nav {
    padding-right: 0;
    .tablet-logo {
      display: none;
    }
    ul {
      .nav-logo {
        margin-left: 10px;
        img {
          width: 40px;
        }
      }
    }
  }

  section.top-landing {
    .text {
      width: 100%;
    }
    .logo {
      display: none;
    }
  }
  section.what-we-do {
    .single-wrapper {
      .single {
        padding: 20px;
        img {
          width: 60%;
        }
      }
    }
  }
  section.portfolio-section {
    .portfolios {
      .portfolio {
        width: calc(100% / 3);
      }
    }
  }
  .modal-portfolio.client {
    flex-direction: column;
    align-items: unset;
    justify-content: center;
    .image {
      width: 100%;
      margin-bottom: 50px;
    }
    .details {
      width: 100%;
      padding: 0;
    }
  }
}

@media (max-width: $mobile) {
  nav {
    position: fixed;
    .tablet-logo {
      background-color: #fff;
      box-shadow: 2px 2px rgba(0, 0, 0, 0.02);
      z-index: 2;
      position: relative;
      .open-menu-button {
        display: flex;
        position: absolute;
        top: 50%;
        left: calc(50% + 75px);
        transform: translate(-50%, -50%);
        background-color: $secondaryColor;
        width: 25px;
        height: 25px;
        padding: 8px;
        border-radius: 100px;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
        img {
          background-color: transparent;
          padding: 0;
          align-items: center;
          justify-content: center;
          transition: ease 0.2s;
        }
      }
      img {
        background-color: #fff;
        margin-bottom: 0;
        box-shadow: unset;
        width: 85px;
        padding: 12px;
      }
    }
  }

  nav ul.flex-parent-wrap.menu-opened,
  nav.fix-nav ul.flex-parent-wrap.menu-opened {
    transform: translateY(0%);
    opacity: 1;
    transition: ease-in-out 0.4s;
  }

  div.open-menu-button.menu-opened {
    img {
      transform: rotate(180deg);
      transition: ease 0.2s;
    }
  }

  nav ul.flex-parent-wrap,
  nav.fix-nav ul.flex-parent-wrap {
    position: fixed;
    height: 100%;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    z-index: -1;
    transform: translateY(-100%);
    opacity: 0;
    transition: ease-in-out 0.4s;
    .nav-logo {
      display: none;
    }
  }

  nav.fix-nav {
    .tablet-logo {
      display: block;
    }
    ul {
      .nav-logo {
        display: none;
      }
      li {
        a {
          padding: 10px 25px;
          color: white;
        }
      }
    }
  }

  section.contact-section {
    .container {
      width: calc(100% - 50px);
    }
  }
  section.top-landing {
    .text {
      padding-left: 10px;
      padding-right: 10px;
      align-items: center;
      h1 {
        font-size: 40px;
      }
    }
  }
  section.what-we-do {
    .single-wrapper {
      .single {
        width: 100%;
        padding: 40px;
        &:nth-of-type(even) {
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-top: 0px solid;
          border-bottom: 0px solid;
        }
      }
    }
  }
  section.portfolio-section {
    .portfolios {
      .portfolio {
        width: calc(100% / 2);
      }
    }
  }
  section.technology-section {
    .huge-light-bg {
      display: none;
    }
    .technologies {
      .technology {
        display: inline-block;
        width: calc(100% / 4);
        padding: 15px 20px;
      }
    }
  }
  .loading-spinner {
    > div {
      width: 60% !important;
    }
  }
  .modal-portfolio.client {
    padding: 0 20px;
    .image {
      margin-bottom: 20px;
      padding: 20px;
    }
    .details {
      .name {
        font-size: 35px;
      }
      .description {
        height: 78.5px;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
      }
    }
  }
  .success-message,
  .error-message {
    font-size: 20px;
  }
}
